.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar {
  max-width: 968px;
  height: 3rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
  row-gap: 1.5rem;
  list-style-type: none;
}

