.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


.section_title{
    font-size: 2rem;
    color: #080073;
}
.section_subtitle{
    font-size: 1.5rem;
    color: #082073;
}




.card_me{
    border: 2.5px solid rgb(112, 112, 112);
    border-radius: 10px;
    margin: 0.25rem;
    padding: 0 0.5rem;

}
.card_me_title{
    font-size: 1.25rem;
    color: #620073;
}
.card_me_text{
    font-size: 1rem;
}


